.chat-message {
  display: flex;
  margin: 15px 30px 15px 30px;
  flex-direction: column;
  position: relative;
  width: fit-content;
  max-width: 400px;
  padding: 10px;
  background-color: #005C4B;
  border-radius: 10px;
  height: fit-content;
  color: #fff;
  font-size: 12px;
}

.chat-message-text {
  text-align: left;
  font-size: 13px;
  margin-bottom: 10px;
}

.chat-message-date {
  font-size: 12px;
  color: silver;
  font-weight: normal;
  align-self: flex-end;
  letter-spacing: 1px;
}

.emoji-picker-react {
  position: absolute !important;
  top: -325px;
}